{% load tailwind_cli %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" />
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon" />
    <title>
      {% block title %}
        Home
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/django_sp_admin/starting-point-ui.min.css' %}" />
    {% include 'admin/_tw_dark_mode.html' %}
    {% block extrahead %}{% endblock %}
    {% tailwind_css %}
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.9.1/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <main id="content">
      {% block content %}

      {% endblock %}
    </main>

    <!-- Extra blocks -->
    {% block extra_body %}

    {% endblock %}

    <!-- Scripts -->
    <script src="{% static 'js/django_sp_admin/starting-point-ui.min.js' %}" type="module"></script>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
