{% load i18n static tailwind_cli %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" />
    <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon" />
    <title>
      {% block title %}
        Home
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/django_sp_admin/django_sp_admin.min.css' %}" />
    {% include 'admin/_tw_dark_mode.html' %}
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.9.1/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">
    <main id="content">
      {% block pretitle %}{% endblock %}
      {% block content_title %}{% endblock %}
      {% block content_subtitle %}{% endblock %}
      {% block content %}

      {% endblock content %}
      {% block sidebar %}{% endblock %}
    </main>

    <!-- Extra blocks -->
    {% block extrabody %}

    {% endblock extrabody %}

    <!-- Scripts -->
    <script src="{% static 'js/django_sp_admin/starting-point-ui.min.js' %}" type="module"></script>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
